<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
    <title>{{ app_name }} - {% block title %}{% endblock %}</title>
        {{ include('_favicons.html.twig', with_context = false) }}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block body %}
        {% block header -%}
            {{ include('_header.html.twig', {'currentRoute': app.request.attributes.get('_route')}, with_context = false) }}
        {%- endblock %}

        {% if is_granted("IS_IMPERSONATOR") %}
            <div class="alert alert-warning" style="margin-bottom: 0;">
                {{ 'warning_impersonation'|trans }}
                <a class="text-dark" href="{{ path('home', {'_switch_user': '_exit'}) }}">{{ 'exit_impersonation'|trans }}</a>
            </div>
        {% endif %}

        {# TODO: change this alert handle #}
        {% for type, messages_by_type in app.flashes %}
            <div class="alert alert-{{ type }}" role="alert">
                {% if messages_by_type|length < 2 %}
                    {{ messages_by_type|first }}
                {% else %}
                    <ul>
                        {% for message in messages_by_type %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

        <div class="container-fluid">
            {% block page_content %}
            {% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    {% endblock %}
    </body>
</html>
